<!-- views/partials/_navbar.ejs -->

<dev id="preloader">
    <div id="preloader-1"></div>
</dev>

<nav>
    <!-- Link for the image in the left corner -->
    <img src="/GA pics/GA-logo.png" alt="GA logo" class="nav-img">
    </a>

    <% if(user) { %>
        <a href="/users/<%= user._id %>/courses">See Course List</a>
        <a href="/users/<%= user._id %>/persons">List of people</a>
        <a href="/users/<%= user._id %>/enrollments">Enrollments</a>
        <a href="/auth/sign-out">Sign Out</a>
        <% } else { %>
            <a href="/auth/sign-in">Sign In</a>
            <a href="/auth/sign-up">Sign Up</a>
            <% } %>
</nav>


<script>
    let loader = document.getElementById("preloader");
    window.addEventListener("load", function(){
        loader.style.display = "none";
    });
</script>


