<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inistitution Database</title>
    <link rel="stylesheet" href="/background.css">
    <link rel="stylesheet" href="/styles.css">

</head>

<body class="container">
    <%- include('./partials/_navbar.ejs') %>
        <!-- From Uiverse.io by SelfMadeSystem -->
        <img src="/GA pics/GA-logo-.png" alt="GA logo" class="GA-logo" style="z-index: 100;">
        <h1 style="z-index: 100;">Inistitution Database</h1>

</body>

</html>